* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.dandelion-background {
  border: 1px solid transparent;
  background-image: url("/img/dandelion.png");
  background-repeat: no-repeat;
  background-size: 790px 697px;
  max-width: 1085px;
  background-position: 0 0;
  margin: 0 auto;
}

.headline {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 116px;
  color: #515076;
  list-style: none;
}

.product-item {
  width: 340px;
  height: 573px;
  border: 1px solid #f3f3f6;
  background-color: #F7F7FA;
  padding: 25px;
}

.product-image {
  margin-bottom: 30px;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

.product-name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.product-compound-list {
  line-height: 22px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.product-price {
  font-size: 18px;
}

.product-price-value {
  font-size: 18px;
  margin-left: 160px;
}